main {
  display: flex;
  gap: 40px;
  height: 95vh;
  padding: 20px;
}

#product-visual, #product-ui {
  border: 1px solid black;
  flex: 1;
}

#product-visual {
  padding:0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productVisual__title--style{
  text-align: center;
}

.productVisual__productImage--style {
  width: 70%;
  flex: 1;
  max-height: 25%;
  align-self: center;
}

.productVisual__description--style {
  font-style: italic;
}

.productUI__heading--style {
  margin-bottom: 5px;
  font-weight: bold;
  font-style: italic;
}

#product-ui {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#product-information, #product-details {
  padding: 0 20px;
}

#product-information {
  /* flex: 3; */
  flex: 1;
}

#product-details {
  flex: 1;
}

.productInformation__content--layout, .productDetails__content--layout {
  border: 1px solid black;
  padding: 20px 10px;  
}

label {
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
  min-width: 85px;
}

input {
  width: 80%;
}

.productInformation__input--container {
  display: flex;
  justify-content: space-between;
}

input, textarea {
  margin-bottom: 20px;
  width: 100%;
}
