main {
  display: flex;
  gap: 40px;
  height: 95vh;
  padding: 20px;
}

#product-visual, #product-ui {
  border: 1px solid black;
  flex: 1;
}

.productVisual__title--style{
  text-align: center;
}

.productUI__heading--style {
  margin-bottom: 5px;
}

#product-ui {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#product-information, #product-details {
  padding: 0 20px;
}

#product-information {
  /* flex: 3; */
  flex: 1;
}

#product-details {
  flex: 1;
}

.productInformation__content--layout, .productDetails__content--layout {
  border: 1px solid black;
  padding: 20px 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  width: 80%;
}
